html,body{ height:100%; max-height:100%; font-family: 'Open Sans', sans-serif; }
*{ margin:0; padding:0; }

/*	----------***************------- IDEOLOGIA / resume EN ----------***************------- */
.contenido_ideologia { width: 100%; background: #FFF; display: block; overflow: hidden; position: relative; }


.contenido_ideologia .resume-menu {
	padding: 60px;
	font-family: $fuente-encabezados;	

	& h2 {
		font-size: 40px;
		color: $naranja-obscuro;
		margin-bottom: 1em;
	}

	& ul li {
		margin: 0px; padding: 0px; list-style: none;

		& a {
			font-size: 22px;
			text-decoration: none;
			color: $naranja-obscuro;
			padding: 0.5em 0em;
			font-weight: bold;

			&:hover {
				color: lighten($naranja-claro, 15%);
			}
		}
	}
}



/*	----------***************------- WORK ----------***************------- */
.imagen_diferencia { width: 100%; height: 615px; display: block;	overflow: hidden; }
.imagen_diferencia img { width: 100%; }
.contenido_diferencia { width: 100%; height: 100%; background: #FFF; display: block; overflow: hidden; position: relative; }

.preload-galeria {
	position: absolute;
	text-align: center;
	top: 40%;
	left: 50%;
}
.work {

	&__slider {
		height: 80%;
		position: relative;

		& .controles {
			display: block;
			position: absolute;
			top: 50%;
			width: 100%;
			transform: translateY(-50%);
			height: 120px;
			z-index: 100;


			& .anterior, & .siguiente {
				display: block;
				background: #FFF;
				font-size: 40px;
				padding: 15px 10px;
				color: #000;
				font-weight: bold;
				opacity: 0.8;
				float: left;
			}

			& .siguiente {
				float: right;
			}
		}

		& .item {
			width: 100%!important;
			height: 100%!important;
			background: #000;
			background-position: top center;
			position: absolute;

			& video {
				display: block;
				margin: auto;
			}

			& img {
				display: block;
				margin: 0px auto;
			}
		}


		

	}



	&__menu {
		height: 20%;

		& a {
			
		}


		& .titulo-galeria {
			font-family: $fuente-encabezados;
			font-size: 20px;
			color: $naranja-obscuro;
			display: block;
			margin: 15px 0px;
		}

		& .enlaces a {
			text-transform: uppercase;
			font-family: $fuente-textos;

			&:hover {
				color: $naranja-claro;
			}
		}
	}
}


.bx-wrapper {
	height: 100%;
	overflow: hidden;
}

.bxslider {
	overflow: hidden;
	height: 100%;

	& .slide {
		display: block;
		width: 100%!important;
		height: 100%!important;
		background-size: cover;
	}

	& iframe {
		display: block;
	}

	& img {
		height: 100%;
	}
}

.bx-viewport {
	border: 0px!important;
	left: 0px!important;
}
